$color-border: hsl(0, 0%, 0%);
$color-card-bg: hsl(0, 0%, 100%);

.card {
  font-size: 16px;
  
  &__remove {
    font-size: 18px;
  }
  
  &__header {
    line-height: 26px;
    border-bottom: 1px solid $color-border;
    text-align: right;
  }
  
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  
  &__icon {
    width: 38px;
    padding: 2px;
    background: $color-card-bg;
    border-radius: 4px;
    
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

    svg {
      display: block;
      filter: grayscale(100%);
      
      transition: filter .25s ease;
    }
  }
  
  &:hover &__icon svg {
    filter: grayscale(0%);
  }
}