@import '../../../assets/tools.scss';

.wallet-page {
  max-width: 270px;
  margin: auto;
  padding: 30px 10px;
  
  &__title {
    margin-bottom: 80px;
  }
  
  &__card {
    margin-bottom: 50px;
  }
}