.new-card-form {
  &__row,
  &__actions {
    display: flex;
  }
  
  &__actions {
    margin-top: 10px;
  }
  
  &__field {
    flex: 1;
    margin-left: 10px;
    
    &:first-child {
      margin-left: 0;
    }
  }
  
  &__submit {
    flex: .6;
  }
  
  &__cancel {
    flex: .4;
  }
  
  .form {
    padding: 10px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  }
}