html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

a,
.btn {
  color: #666;
  text-decoration: none;
  cursor: pointer;
  
  &:hover {
    transition: all .25s ease;
    color: #000;
  }
}

/*
 * Forms
 */
$color-form-error: hsl(0, 59%, 51%);
$color-form-borders: hsl(0, 0%, 0%);
 
.form {
  &__element {
    display: block;
    transition: all 0.25s ease;
    line-height: 1.15;
    margin: 0;
    font-size: 14px;
    padding: 2px;
    width: 100%;
    border: 1px solid $color-form-borders;
    
    box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
     
    &--error {
      border-color: $color-form-error;
    }
  }
  
  &__label {
    display: block;
    line-height: 1.6;
    padding-left: 5px;
  }

  &__errors {
    margin: 5px 0;
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
  }
  
  &__error {
    color: $color-form-error;
  }
}

/*
 * Buttons
 */
$color-button-border: hsl(0, 0%, 69%);

.btn {
  display: block;
  text-align: center;
  background: transparent;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  padding: 0 10px;
  text-transform: uppercase;
  border: 1px solid transparent;
  
  &--primary {
    border: 1px solid $color-button-border;
  }
  
  &--large {
    line-height: 50px;
    font-size: 16px;
  }
}